
h2 {
    color: #fff;
}
           

#logo {
    height: 8vh;

}
#logo img {
    height: 100%;
}
#carouselExampleInterval {
    width: 100%;
    height: 50vh;
}

#hol {
    width: 100%;
    height: 50vh;
}